server:
  port: 8083

telegram:
  bot:
    username: ${TELEGRAM_BOT_USERNAME:MUR_BTCBot}
    token: ${TELEGRAM_BOT_TOKEN:}
    notify:
      delay:
        value: 10
        unit: MINUTES

binance:
  api:
    getPrice: https://api.binance.com/api/v3/avgPrice?symbol=BTCUSDT

spring:
  datasource:
    driver-class-name: ${SPRING_DATASOURCE_DRIVER_CLASS_NAME:org.postgresql.Driver}
    # localhost внутри контейнера = сам контейнер, поэтому используем host из docker-сети
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://${DB_HOST:postgres-apps}:${DB_PORT:5432}/${DB_NAME:cryptobot}}
    username: ${SPRING_DATASOURCE_USERNAME:${DB_USER:${POSTGRES_USER:postgres}}}
    password: ${SPRING_DATASOURCE_PASSWORD:${DB_PASSWORD:${POSTGRES_PASSWORD:postgres}}}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never   # важно: не выполнять SQL init на каждом старте

logging:
  level:
    root: INFO
    org.springframework: INFO
    com.skillbox.cryptobot: DEBUG