spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres:5432/search_engine}
    username: ${SPRING_DATASOURCE_USERNAME:search_engine_user}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

  mvc:
    throw-exception-if-no-handler-found: true

  web:
    resources:
      add-mappings: true

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

indexing-settings:
  sites:
    - url: https://example.com
      name: Example
    - url: https://www.playback.ru
      name: Playback
    - url: https://volochek.life
      name: Volochek
    - url: http://radiomv.ru
      name: RadioMV
    - url: https://ipfran.ru
      name: IPFRAN
    - url: https://dimonvideo.ru
      name: DimonVideo
    - url: https://nikoartgallery.com
      name: NikoArtGallery
    - url: https://et-cetera.ru/mobile
      name: EtCetera
    - url: https://www.lutherancathedral.ru
      name: LutheranCathedral
    - url: https://dombulgakova.ru
      name: DomBulgakova
    - url: https://www.svetlovka.ru
      name: Svetlovka

server:
  port: ${SERVER_PORT:8004}
  servlet:
    context-path: ${SERVER_CONTEXT_PATH:/projects/search-engine}

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: WARN
    org.springframework: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    searchengine: INFO
    org.postgresql: DEBUG

  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
