server:
  port: ${SERVER_PORT:8080}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        hbm2ddl:
          auto: none
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

tariff:
  volume-cost-per-m3: 1200.00
  weight-cost-per-gram: 0.04
  minimal-price: 500.00
  distance-step: 450

geo:
  min-latitude: 45
  max-latitude: 65
  min-longitude: 30
  max-longitude: 96

cbr:
  enabled: true
  url: https://www.cbr.ru/scripts/XML_daily.asp
  fixed-delay-ms: 86400000
  initial-delay-ms: 10000
  request-timeout-ms: 5000

management:
  endpoints:
    web:
      exposure:
        include: health,info
